body {
    /* background-color: lightgreen; */
    text-align: center;
}

input {
    margin: 100px auto 100px;
    width: 350px;
    height: 40px;
    display: block;
    text-align: center;
}

#output {
    margin-top: 45px;
    width: 100px;
    background: peru;
    margin: 100px auto 100px;
}

#btn {
    width: 350px;
    height: 80px;
    color: #fff;
    background-color: grey;
    border-style: none;
    border-radius: 15px;
    margin-top: 40px;
}

h1 {
    color: #000;
    margin-top: 30px;
}

.calculate {
    background-color: aqua;
    width: 450px;
    text-align: center;
    margin-left: 500px;
    height: 600px;
}